.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 450px;
    background: var(--light);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }

.left-div{
    width: 450px;

}

.wrapper p, .wrapper span, .wrapper h4 {
    color: var(--dark)
}

.left-div span {
    color: var(--dark);
}

.right-div{
    width: 450px;
}
